[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metamisc"]
	path = metamisc
	url = https://github.com/smartdata-analysis-and-statistics/metamisc
[submodule "precmed"]
	path = precmed
	url = https://github.com/smartdata-analysis-and-statistics/precmed
